
.sectors_sec {
    margin: 4rem 0;
}

.sectors_sec h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
    text-align: center;
}

/* sectors css */
.sectors_box {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
}

.sectors_box img {
    width: 100%;
    border-radius: 5px;
    height: 400px;
}

.sectors_box_overlay {
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: #1e944a;
}

.sectors_box:hover .sectors_box_overlay {
    opacity: 1;
}

.sectors_text {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.services_sec_our_services {
    height: auto;
    margin: 5rem 0;
    width: 100%;
}

.services_sec_our_services h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    text-align: center;
}

.services_sec_our_services p {
    margin-bottom: 2rem;
    text-align: center;
}

.service_box {
    background-color: #1e944a;
    border-radius: 5px;
    box-shadow: 0 3px 8px #0000003d;
    height: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    transition: .8s ease-in-out;
    width: 100%;
}

.service_box:hover {
    transform: scale(1.1);
    border: 2px solid #fff;
    background-color: #727270;
    z-index: 1000;
}

.service_box img {
    display: block;
    height: 3.2rem;
    width: auto;
}

.service_box h3 {
    color: #fff;
    font-size: 1.2rem;
    margin: 1rem 0 0;
    text-transform: capitalize;
}

.faq_sec {
    margin: 4rem 0;
}

.faq_sec h4 {
    font-weight: 600;
    font-size: 2.3rem;
    text-align: center;
    color: #444;
    margin-bottom: 2rem;
}

.faq_sec .faq-list ul {
    padding: 0;
    list-style: none;
}


.faq_sec .faq-list li {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    margin-bottom: 1.3rem;
}

.faq_sec .faq-list .faq_box {
    font-size: 1.3rem;
    display: block;
    position: relative;
    line-height: normal;
    font-weight: 600;
    padding: 0;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 0;
}

.faq_sec .faq-list .icon-help {
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    left: 20px;
    color: #e82c88;
}

.faq_sec .faq-list .icon-show,
.faq_sec .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq_sec .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq_sec .faq-list .icon-show {
    display: none;
}

.faq_box.collapsed {
    color: #444;
    transition: 0.3s;
}

.faq_box:hover {
    color: #075bd9;
}

.faq_sec .faq-list .faq_box.collapsed .icon-show {
    display: inline-block;
}

.faq_sec .faq-list .faq_box.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq_sec .faq-list {
        padding: 0;
    }
}

.service_sec {
    position: relative;
}

.serices_sec_banner {
    background-image: url('../images/Banner/services.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 7rem 0rem;
    margin: 0px;
    background-position: center top;
    background-size: cover;
    height: auto;
    width: 100%;
    color: #fff;
}



.serices_sec_banner h2 {
    text-transform: uppercase;
    font-size: 2.7rem;
    color: #fff;
}

.serices_sec_banner p a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.services_sec_our_services {
    margin: 5rem 0;
    width: 100%;
    height: auto;
}

.services_sec_our_services h2 {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    margin-bottom: 8px;
}
.services_sec_our_services p{
    text-align: center;
    margin-bottom: 2rem;
}

.sectors_sec{
    margin: 4rem 0;
}
.sectors_sec h2{
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    line-height: normal; 
    margin-bottom: 2rem;

}

.services_sec_our_services .span_services {
    text-align: center;
    color: #1e944a;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: uppercase;
}





.service_box img {
    width: auto;
    height: 60px;
    display: block;
}

.service_box h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    color: #fff;
}

.service_box p {
    text-align: justify;
}

.services_sec_our_services .col-xl-4,
.services_sec_our_services .col-lg-4,
.services_sec_our_services .col-md-4 {
    margin-bottom: 2rem;
}

.service_box button {
    color: #fff;
    background: #1e944a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px 1rem;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    margin-top: 1rem 0 0 0;
}

/* common contact form */
.common_conatctform_sec {
    background-color: #e9f7fe;
    background-image: url(https://demo.awaikenthemes.com/builtup/wp-content/uploads/2024/06/contact-us-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0;

}

.common_contactform_1st_div {
    background-color: #1e944a;
    padding: 2rem 2rem 0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}

.common_contactform_1st_div .service_call_icon {
    text-align: center;
    margin: 0.5rem 0;
}

.common_contactform_1st_div p {
    /* text-align: center; */
    color: #ffffff93;
    margin: 0;
    font-size: 1.1rem;

    line-height: normal;
}

.common_contactform_1st_div a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.common_contactform_1st_div img {
    width: 250px;
    height: auto;
}

.common_contactform_2nd_div {
    padding: 2.7rem;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.common_contactform_2nd_div form input {
    margin-bottom: 2rem;
    border-radius: 0;
    height: 3.4rem;
    outline: none;
    border: 0;
    border-bottom: 2px solid #1e944a;
}

.common_contactform_2nd_div form input:focus {
    outline: none;
    box-shadow: none;
}

.common_contactform_2nd_div form textarea {
    border-radius: 0;
    outline: none;
    border: 0;
    border-bottom: 2px solid #1e944a;
}

.common_contactform_2nd_div form textarea:focus {
    border-radius: 0;
    outline: none;
    box-shadow: none;

}

.common_contactform_2nd_div button {
    width: 100%;
    background-color: #1e944a;
    color: #fff;
    border-radius: 10px;
    padding: .7rem 2rem;
    border: 0;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 600;
}

.common_contactform_2nd_div h2 {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
    text-align: start;
    color: #444;
}


/* clients section :start */
.clients_sec {
    background: #e3e3e3;
    padding: 2rem 0;
    margin: 1rem  0 2.7rem 0;
}

.clients_sec h3 {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    margin-bottom: 2rem;
}

.clients_contaner_box {
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(24, 39, 75, .05);
}

.companies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.companies_container img {
    height: 80px;
    width: auto;
    margin: 1rem;
    transition: transform .5s;
    cursor: pointer;
}

.companies_container img:hover{
    transform: scale(1.2)
}

@media only screen and (max-width:575px) {

    .serices_sec_banner {
        padding: 4rem 0rem;
    }

    .serices_sec_banner h2 {
        font-size: 2rem;
    }


    .services_sec_our_services h2 {
        line-height: normal;
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .service_box img {
        width: 50px;
        height: auto;
    }

    .service_box h3 {
        font-size: 1.2rem;
    }

    .service_box {
        height: auto;
        padding: 1.5rem;
    }

    .service_box button {
        width: 100%;
    }

    .services_sec_our_services {
        margin: 0rem 0 0rem;
    }

    .common_conatctform_sec {
        background-image: none;
        padding: 2.7rem 0;
    }

    .common_contactform_1st_div a {
        font-size: 1.2rem;
    }

    .common_contactform_1st_div p {
        font-size: 14px;
    }


    .common_contactform_2nd_div {
        padding: 2rem;
    }

    .common_contactform_2nd_div h2 {
        font-size: 2rem;
        line-height: normal;
    }

    .common_contactform_2nd_div form input {
        margin-bottom: 1rem;
    }

    .companies_container img{
        width: 100px;
        height: auto;
        margin: 10px;
        width: 110px;
        height: auto;
    }

    .services_sec_our_services h2{
        font-size: 1.7rem;
    }
    .sectors_sec{
        margin: 2rem 0;
    }
    .sectors_sec h2{
        font-size: 1.7rem;
    }
    .sectors_box img{
        width: 100%;
        height: auto;
    }

    .faq_sec h4{
        font-size: 1.7rem;
    }
    .faq_sec{
        margin: 2rem 0;
    }
    .faq_sec .faq-list .faq_box{
        font-size: 1.1rem;
    }
}


